{% extends 'base.html' %}
{% block content %}
<main class="about-section">
  <div class="container">
    <h1>404: Not found</h1>
    <p>What you are looking for <strong>is not</strong> here or... not <strong>yet</strong> here!</p>
  </div>
</main>
{% endblock %}
