{% extends 'base.html' %}
{% block content %}
<main class="about-section">
  <div class="container">
    <h1>500: Internal error</h1>
    <p>We are having a bit of an existential issue right now, would you come back later?</p>
  </div>
</main>
{% endblock %}
