{% extends 'base.html' %}
{% block content %}
<main class="about-section">
  <div class="container">
    <h1>About Reclus</h1>
    <p>Reclus is an engine for creating simple web applications for data
    gathering and mapping. It is designed around KISS + anticapitalist
    principles and meant to be concise and extensible, serving as a
    backend for your counter mapping needs.</p>
  </div>
</main>
{% endblock %}
