{% extends 'base-forms.html' %}
{% block content %}
<main class="about-section">
  <div class="container">
    <p></p>
    <h1>Obrigada por sua contribuição!</h1>
    <p>Os dados foram enviados e serão colocados no mapa em breve.<br>
    <p><a href="{{ url_for('map') }}" target="_blank">Visite o nosso mapa através deste link.</a></p>
  </div>
</main>
{% endblock %}
