<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page_title %}
    <title>{{ page_title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
  <script type="text/javascript">
  function count()
  {
      var total=document.getElementById("form-textbox").value;
      document.getElementById("form-textbox-total").innerHTML="Caracteres: "+total.length+" / 600";
  }
  </script>
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <form id="contact-form" method="POST" role="form" novalidate=True>
    {{ form.hidden_tag() }} 
    <h1 class="form-header">
      {{ form.form_title }}
    </h1>
    <label class="form-desc">
      <p>{{ form.form_intro }}</p>
    </label>
    <div class="form-group">
      {{ form.Strike_Type.label(class='form-label') }}
      {{ form.Strike_Type(class='form-radio') }} 
      {% for error in form.Strike_Type.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Strike_Status.label(class='form-label') }}
      {{ form.Strike_Status(class='form-radio') }}
      {% for error in form.Strike_Status.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Start.label(class='form-label') }}
      {{ form.Start(class='form-control', placeholder='DIA / MÊS / ANO') }}
      {% for error in form.Start.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Location.label(class='form-label') }}
      <div class="form-tooltip">* Não digite o seu endereço exato</div>
      {{ form.Location(class='form-control', placeholder='Bairro, Cidade, Estado') }}
      {% for error in form.Location.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Who.label(class='form-label') }}
      <div class="form-tooltip">* Não digite o seu nome completo</div>
      {{ form.Who(class='form-control', placeholder='Primeiro nome ou nome do grupo') }}
      {% for error in form.Who.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Why.label(class='form-label') }}
      {{ form.Why(class='form-control-textbox', rows='5', cols='50', placeholder='Seu texto será publicado no mapa') }}
      <div class="form-tooltip" id="form-textbox-total">Caracteres: 0 / 600</div>
      {% for error in form.Why.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Desire_Contact.label(class='form-label') }}
      {{ form.Desire_Contact(class='form-radio') }}
      {% for error in form.Desire_Contact.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %} 
    </div><br> 
    <div class="form-group">
      {{ form.Resources.label(class='form-label') }}
      <div class="form-tooltip">* Caso não tenha um site próprio, forneça um site de notícias sobre a ação</div>
      {{ form.Resources(class='form-control') }}
      {% for error in form.Resources.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Email.label(class='form-label') }}
      {{ form.Email(class='form-control') }}
      {% for error in form.Email.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="simple-captcha-box">
    <p>
      {{ captcha_html(captcha) | safe }}
    </p>
    </div>
    <p>
      {{ form.submit(class='btn btn-submit') }}
    </p>
    <p><div class="copyleft">Criado pelos coletivos em defesa do direito à moradia:
      <a href="https://notanatlas.org/mapa-moradia-covid" target="_blank">
      Grupo de Apoio na Luta pela Moradia, Projeto de Mapeamento Contra Despejos (AEMP) & Coletivo Orangotango
      </a>
    </p>
    </div>
  </form>
</div>
{% endblock %}
