<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page_title %}
    <title>{{ page_title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
  <script type="text/javascript">
  function count()
  {
      var total=document.getElementById("form-textbox").value;
      document.getElementById("form-textbox-total").innerHTML="Caracteres: "+total.length+" / 600";
  }
  </script>
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <form id="contact-form" method="POST" role="form" novalidate=True>
    {{ form.hidden_tag() }} 
    <h1 class="form-header">
      {{ form.form_title }}
    </h1>
    <label class="form-desc">
      <p>{{ form.form_intro }}</p>
    </label>
    <div class="form-group">
      {{ form.email.label(class='form-label') }}
      {{ form.email(class='form-control') }} 
      {% for error in form.email.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.municipality.label(class='form-label') }}
      <div class="form-tooltip">* Se a política for estadual ou federal, deixe este campo em branco</div>
      {{ form.municipality(class='form-control') }}
      {% for error in form.municipality.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.state.label(class='form-label') }}
      <div class="form-tooltip">* Se a política for municipal ou federal, deixe este campo em branco</div>
      {{ form.state(class='form-control') }}
      {% for error in form.state.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.admin_scale.label(class='form-label') }}<br>
      {{ form.admin_scale(class='form-radio') }}
      {% for error in form.admin_scale.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.passed.label(class='form-label') }}
      {{ form.passed(class='form-radio') }}
      {% for error in form.passed.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.policy_type.label(class='form-label') }}
      {{ form.policy_type(class='form-radio') }}
      {% for error in form.policy_type.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.policy_summary.label(class='form-label') }}
      {{ form.policy_summary(class='form-control-textbox', rows='5', cols='50') }}
      <div class="form-tooltip" id="form-textbox-total">Caracteres: 0 / 600</div>
      {% for error in form.policy_summary.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.start.label(class='form-label') }}
      {{ form.start(class='form-control', placeholder='DIA/MÊS/ANO') }}
      {% for error in form.start.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.end.label(class='form-label') }}
      {{ form.end(class='form-control', placeholder='DIA/MÊS/ANO') }}
    </div><br>
    <div class="form-group">
      {{ form.link.label(class='form-label') }}
      {{ form.link(class='form-control') }}
      {% for error in form.link.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.resources.label(class='form-label') }}
      {{ form.resources(class='form-control') }}
      {% for error in form.resources.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.feedback.label(class='form-label') }}
      {{ form.feedback(class='form-control') }}
      {% for error in form.feedback.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="simple-captcha-box">
    <p>
      {{ captcha_html(captcha) | safe }}
    </p>
    </div>
    <p>
      {{ form.submit(class='btn btn-submit') }}
    </p>
    <p>
        Preparado pelos coletivos em defesa do direito à moradia:
        <a href="https://notanatlas.org/mapa-moradia-covid/" target="_blank">
        Grupo de Apoio na Luta pela Moradia, Projeto de Mapeamento Contra Despejos (AEMP) & Coletivo Orangotango
        </a>
    </p>
  </form>
</div>
{% endblock %}
